@use '../global/Fonts' as *;
@use '../global/Colors' as *;
@use '../scss/index' as *;
@use '../scss/about.scss' as *;
@use '../scss/ads/advertise-with-us.scss' as *;

* {
  box-sizing: border-box;
  margin: auto;
  user-select: none;
}
html,
body {
  margin: auto;
  width:100%;
  min-height: 100vh;
}
body {
  overflow-y: none;
  overflow-x: hidden;
  background: #02090A;
}   

main{
  padding:0;
  margin:0;
  background:#fff;
}

img {
  display: block;
  width: 100%;
  height: auto;
  outline: none;
  border: none;
}

a {
  text-decoration: none;
  font-family: 'book';
}

h1 {
  font-size: 1.35rem;
  font-family: 'medium';
  font-weight: 100;
  color: #fff;
  text-decoration: none;
  text-shadow: none;
}

h2 {
  font-size: 0.8rem;
  font-family: 'medium';
  font-weight: 100;
  color: #fff;
  text-decoration: none;
  text-shadow: none;
}

h3,
h4,
h5,
h6 {
  font-family: 'medium';
  color: #fff;
  text-shadow: none;
}

p {
  font-family: book;
  font-size: 1.1rem;
  color: #fff;
  text-shadow: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
}

span {
  font-family: bold;
  font-size: 4rem;
  color: #fff;
}

button {
  font-size: 0.8rem;
  font-family: medium;
  font-weight: 100;
}