@use '../global/Fonts' as *;
@use '../global/Colors' as *;
@use '../scss/index' as *;
@use '../scss/about' as *;
@use '../scss/components/footer.scss' as *;

* {
  box-sizing: border-box;
  margin: auto;
  user-select: none;
}
html,
body {
  margin: auto;
  width:100%;
  min-height: 100vh;
}
body {
  overflow-y: none;
  overflow-x: hidden;
  background: #F8F7F5;
}   

main{
  padding:0;
  margin:0;
  background:#02090A;
}

img {
  display: block;
  width: 100%;
  height: auto;
  outline: none;
  border: none;
}

a {
  text-decoration: none;
  font-family: 'book';
  line-height: normal;
}

h1 {
  font-size: 1.35rem;
  font-family: 'medium';
  font-weight: 100;
  color: #02090A;
  text-decoration: none;
  text-shadow: none;
  line-height: normal;
}

h2 {
  font-size: 0.8rem;
  font-family: 'medium';
  font-weight: 100;
  color: #02090A;
  text-decoration: none;
  text-shadow: none;
  line-height: normal;
}

h3,
h4,
h5,
h6 {
  font-family: 'medium';
  color: #02090A;
  text-shadow: none;
  line-height: normal;
}

p {
  font-family: book;
  font-size: 1.1rem;
  color: #02090A;
  text-shadow: none;
  line-height: normal;
}

ul,
ol {
  list-style: none;
  margin: 0;
}

span {
  font-family: bold;
  font-size: 4rem;
  color: #02090A;
  line-height: normal;
}

button {
  font-size: 0.8rem;
  font-family: medium;
  font-weight: 100;
  line-height: normal;
}