.content-awu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-awu b {
  font-family: "bold";
}
.content-awu .logo {
  background: none;
  margin: 1.25rem 0 0 5rem;
  width: 3.5rem;
}
.content-awu .logo img {
  border-radius: 10rem;
}
.content-awu h1, .content-awu h2, .content-awu h3, .content-awu span {
  text-align: left;
  font-family: ku;
  font-size: 4rem;
}
.content-awu h2 {
  font-size: 4rem;
  font-family: kl;
}
.content-awu h3 {
  font-size: 2.75rem;
  line-height: 3.5rem;
}
.content-awu h4 {
  font-family: kl;
  font-size: 1.4rem;
}
.content-awu p {
  font-family: kl;
  font-size: 1.2rem;
}
.content-awu .content-awu2 {
  display: flex;
  flex-direction: row;
  margin: 5rem 5rem 5rem 5rem;
}
.content-awu .content-awu2 .text {
  display: flex;
  flex-direction: column;
}
.content-awu .content-awu2 .text h4 {
  padding-bottom: 0.6rem;
  margin-left: 0;
  color: rgb(198, 4, 36);
}
.content-awu .content-awu2 .text h3 {
  margin-left: 0;
}
.content-awu .content-awu2 p {
  padding-top: 0.25rem;
  width: 80%;
  color: #71717A;
  margin-bottom: 0.5rem;
}
.content-awu .ads-carousel {
  position: relative;
  width: 27.5%;
  overflow: hidden;
}
.content-awu .ads-carousel .carousel-track {
  display: flex;
  transition: transform 0.5s ease;
  width: 100%;
}
.content-awu .ads-carousel .carousel-slide {
  flex: 0 0 100%;
  box-sizing: border-box;
}
.content-awu .ads-carousel .box {
  display: flex;
  flex-direction: column;
  text-align: left;
  border-radius: 0.5rem;
}
.content-awu .ads-carousel .box img {
  width: 62.5%;
  border-radius: 2.5rem;
}
.content-awu .ads-carousel .box h1 {
  text-align: center;
  font-size: 1.25rem;
  padding-top: 2rem;
  padding-bottom: 0.75rem;
  margin: 0;
  font-family: bold;
}
.content-awu .ads-carousel .box p {
  text-align: center;
  color: #71717A;
  margin: 0;
  flex-grow: 1;
}
.content-awu .ads-carousel .carousel-button {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #000;
  font-size: 2rem;
  z-index: 2;
}
.content-awu .ads-carousel .carousel-button.prev {
  left: 0.5rem;
}
.content-awu .ads-carousel .carousel-button.next {
  right: 0.5rem;
}
.content-awu .btn {
  display: flex;
  margin-top: 2rem;
}
.content-awu .btn .pricebtn {
  border-radius: 5rem;
  padding: 1rem 1.75rem;
  border: 0.15rem solid #000;
  color: #000;
  text-decoration: none;
  font-size: 1.2rem;
  background: transparent;
  cursor: pointer;
  font-family: bold;
}
.content-awu .btn .pricebtn:hover {
  background-color: #fafafa;
  color: #000;
}
.content-awu .content-awu3 .header {
  margin: 9rem 5rem 3rem 5rem;
  display: flex;
  flex-direction: column;
}
.content-awu .content-awu3 .header h4 {
  padding-bottom: 0.6rem;
  margin-left: 0;
  color: rgb(198, 4, 36);
}
.content-awu .content-awu3 .header h3 {
  margin-left: 0;
}
.content-awu .content-awu3 .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin: 0 5rem;
}
.content-awu .content-awu3 .grid .box {
  display: flex;
  flex-direction: column;
  background: transparent;
  text-align: left;
  height: 100%;
  background: #000;
  padding: 1rem 1rem 1.5rem 1rem;
  border-radius: 0.5rem;
}
.content-awu .content-awu3 .grid .box img {
  border-radius: 0.5rem;
  width: 100%;
  height: auto;
}
.content-awu .content-awu3 .grid .box h1 {
  font-size: 1.25rem;
  padding-top: 2rem;
  padding-bottom: 0.75rem;
  margin: 0;
  font-family: bold;
  color: #fff;
}
.content-awu .content-awu3 .grid .box p {
  color: #71717A;
  margin: 0;
  flex-grow: 1;
}
.content-awu .content-awu4 {
  margin: 9rem 5rem 3rem 5rem;
}
.content-awu .content-awu4 .header {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}
.content-awu .content-awu4 .header h4 {
  padding-bottom: 0.6rem;
  margin-left: 0;
  color: rgb(198, 4, 36);
}
.content-awu .content-awu4 .header h3 {
  margin-left: 0;
}
.content-awu .content-awu4 .box {
  display: flex;
  flex-direction: column;
  background: transparent;
  text-align: left;
  height: 100%;
  background: #000;
  padding: 1rem 1rem 1.5rem 1rem;
  border-radius: 0.5rem;
}
.content-awu .content-awu4 .box img {
  border-radius: 0.5rem;
  width: 100%;
  height: auto;
}
.content-awu .content-awu4 .box h1 {
  font-size: 1.25rem;
  padding-top: 2rem;
  padding-bottom: 0.75rem;
  margin: 0;
  font-family: bold;
  color: #fff;
}
.content-awu .content-awu4 .box p {
  color: #71717A;
  margin: 0;
  flex-grow: 1;
}
.content-awu .content-awu5 {
  margin: 9rem 5rem 3rem 5rem;
}
.content-awu .content-awu5 .header {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}
.content-awu .content-awu5 .header h4 {
  padding-bottom: 0.6rem;
  margin-left: 0;
  color: rgb(198, 4, 36);
}
.content-awu .content-awu5 .header h3 {
  margin-left: 0;
}
.content-awu .content-awu5 .box {
  display: flex;
  flex-direction: column;
  background: transparent;
  text-align: left;
  height: 100%;
  background: #000;
  padding: 1rem 1rem 1.5rem 1rem;
  border-radius: 0.5rem;
}
.content-awu .content-awu5 .box img {
  border-radius: 0.5rem;
  width: 100%;
  height: auto;
}
.content-awu .content-awu5 .box h1 {
  font-size: 1.25rem;
  padding-top: 2rem;
  padding-bottom: 0.75rem;
  margin: 0;
  font-family: bold;
  color: #fff;
}
.content-awu .content-awu5 .box p {
  color: #71717A;
  margin: 0;
  flex-grow: 1;
}
.content-awu .content-awu6 {
  margin: 9rem 5rem 3rem 5rem;
}
.content-awu .content-awu6 .header {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}
.content-awu .content-awu6 .header h4 {
  padding-bottom: 0.6rem;
  margin-left: 0;
  color: rgb(198, 4, 36);
}
.content-awu .content-awu6 .header h3 {
  margin-left: 0;
}
.content-awu .content-awu6 .grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}
.content-awu .content-awu6 .grid .box {
  display: flex;
  flex-direction: column;
  background: transparent;
  text-align: left;
  height: 100%;
  background: #000;
  padding: 1rem 1rem 1.5rem 1rem;
  border-radius: 0.5rem;
}
.content-awu .content-awu6 .grid .box img {
  border-radius: 0.5rem;
  width: 100%;
  height: auto;
}
.content-awu .content-awu6 .grid .box h1 {
  font-size: 1.25rem;
  padding-top: 2rem;
  padding-bottom: 0.75rem;
  margin: 0;
  font-family: bold;
  color: #fff;
}
.content-awu .content-awu6 .grid .box p {
  color: #71717A;
  margin: 0;
  flex-grow: 1;
}
.content-awu .content-awu6 .grid .box form {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-top: 1.25rem;
}
.content-awu .content-awu6 .grid .box form .h-captcha {
  margin: 0;
  padding-top: 0.25rem;
}
.content-awu .content-awu6 .grid .box form .input-wrapper {
  position: relative;
  width: 29.75rem;
}
.content-awu .content-awu6 .grid .box form input.email {
  width: 100%;
  padding: 0.85rem 6rem 0.85rem 0.75rem;
  font-family: Arial, sans-serif;
  color: #000;
  border: 0.15rem solid #02090A;
  border-radius: 0.2rem;
  font-size: 1.1rem;
  box-sizing: border-box;
}
.content-awu .content-awu6 .grid .box form input.email:focus {
  outline: none;
  box-shadow: 0 0 1px 1px #02090A;
  border-color: #02090A;
  caret-color: #02090A;
}
.content-awu .content-awu6 .grid .box form button.submit {
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  padding: 0 2rem;
  background-color: #fafafa;
  color: black;
  border: none;
  border-left: 0.12rem solid #02090A;
  border-radius: 0 0.2rem 0.2rem 0;
  font-size: 1rem;
}
.content-awu .content-awu6 .grid .box form button.submit:hover {
  background-color: #F5F5F5;
  cursor: pointer;
}
.content-awu .content-awu6 .grid .box .pricebtn {
  margin-top: 2.5rem;
  border-radius: 5rem;
  padding: 1rem 1.75rem;
  border: 0.15rem solid #fafafa;
  color: #fafafa;
  text-decoration: none;
  font-size: 1.2rem;
  background: transparent;
  cursor: pointer;
  font-family: bold;
}
.content-awu .content-awu6 .grid .box .pricebtn:hover {
  background-color: #1f1f1f;
  color: #fff;
}
.content-awu .footer {
  width: 100%;
  padding: 10rem 5rem 3rem 5rem;
  box-sizing: border-box;
}
.content-awu .footer img {
  margin: 0;
  width: 3rem;
  border-radius: 10rem;
}
.content-awu .footer .footer-top {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-bottom: 1px solid #333;
  padding-bottom: 4rem;
  margin-bottom: 2rem;
}
.content-awu .footer .footer-top .footer-signup {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 0;
}
.content-awu .footer .footer-top .footer-signup p {
  margin: 0;
  line-height: 0;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
  font-family: "ku";
  font-size: 2.5rem;
}
.content-awu .footer .footer-top .footer-signup form {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-top: 1.25rem;
}
.content-awu .footer .footer-top .footer-signup form .h-captcha {
  margin: 0;
  padding-top: 0.25rem;
}
.content-awu .footer .footer-top .footer-signup form .input-wrapper {
  position: relative;
  width: 29.75rem;
}
.content-awu .footer .footer-top .footer-signup form input.email {
  width: 100%;
  padding: 0.85rem 6rem 0.85rem 0.75rem;
  color: #000;
  border: 0.15rem solid #02090A;
  border-radius: 0.2rem;
  font-size: 1.1rem;
  box-sizing: border-box;
}
.content-awu .footer .footer-top .footer-signup form input.email:focus {
  outline: none;
  box-shadow: 0 0 1px 1px #02090A;
  border-color: #02090A;
  caret-color: #02090A;
}
.content-awu .footer .footer-top .footer-signup form button.submit {
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  padding: 0 2rem;
  background-color: #fafafa;
  color: black;
  border: none;
  border-left: 0.12rem solid #02090A;
  border-radius: 0 0.2rem 0.2rem 0;
  font-size: 1rem;
}
.content-awu .footer .footer-top .footer-signup form button.submit:hover {
  background-color: #F5F5F5;
  cursor: pointer;
}
.content-awu .footer .footer-top .footer-links {
  display: flex;
  margin: 0 0;
  padding-top: 4.75rem;
}
.content-awu .footer .footer-top .footer-links .column {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  margin-top: 0;
}
.content-awu .footer .footer-top .footer-links .column h4,
.content-awu .footer .footer-top .footer-links .column a {
  text-align: left;
  width: 100%;
}
.content-awu .footer .footer-top .footer-links .column h4 {
  font-family: bold;
  margin-bottom: 1rem;
  font-size: 0.85rem;
}
.content-awu .footer .footer-top .footer-links .column a {
  color: #000;
  text-decoration: none;
  margin-bottom: 0.75rem;
  font-size: 0.825rem;
}
.content-awu .footer .footer-top .footer-links .column a:hover {
  color: #808182;
  text-decoration: underline;
}
.content-awu .footer .footer-bottom {
  display: flex;
}
.content-awu .footer .footer-bottom .footer-meta {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  margin-left: 0;
}
.content-awu .footer .footer-bottom .footer-meta a {
  font-size: 0.825rem;
  color: #000;
}
.content-awu .footer .footer-bottom .footer-meta a:hover {
  color: #808182;
  text-decoration: underline;
}
.content-awu .footer .footer-bottom .footer-social {
  display: flex;
  gap: 1.25rem;
  margin-right: 0;
}
.content-awu .footer .footer-bottom .footer-social img {
  width: 1.15rem;
  border-radius: 0;
}

@media (min-width: 875px) and (max-width: 1100px) {
  .content-awu .content-awu2 {
    flex-direction: column;
    padding-bottom: 2rem;
  }
  .content-awu .content-awu2 p {
    margin-left: 0;
    width: 100%;
  }
  .content-awu .ads-carousel {
    margin: 0 auto;
    width: 25%;
  }
  .content-awu .ads-carousel .box img {
    width: 60%;
    border-radius: 1rem;
  }
  .content-awu .ads-carousel .carousel-button {
    top: 40%;
  }
}
@media (min-width: 660px) and (max-width: 874px) {
  .content-awu .content-awu2 {
    flex-direction: column;
    padding-bottom: 2rem;
  }
  .content-awu .content-awu2 p {
    margin-left: 0;
    width: 100%;
  }
  .content-awu .ads-carousel {
    margin: 0 auto;
    width: 40%;
  }
  .content-awu .ads-carousel .box img {
    width: 55%;
    border-radius: 1rem;
  }
  .content-awu .ads-carousel .carousel-button {
    top: 37.5%;
  }
  .content-awu .content-awu3 .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .content-awu .footer .footer-top {
    flex-direction: column-reverse;
    align-items: left;
  }
  .content-awu .footer .footer-top .footer-signup {
    padding-top: 1rem;
  }
  .content-awu .footer .footer-top .footer-signup p {
    font-size: 1.75rem;
    padding-bottom: 0.25rem;
  }
  .content-awu .footer .footer-top .footer-signup form .input-wrapper {
    width: 31.25rem;
  }
  .content-awu .footer .footer-top .footer-links {
    flex-direction: column;
    padding-top: 0.75rem;
  }
  .content-awu .footer .footer-top .footer-links .column {
    margin: 0;
    padding: 0;
  }
  .content-awu .footer .footer-top .footer-links .column:nth-child(2) {
    padding-top: 0.75rem;
  }
  .content-awu .footer .footer-top .footer-bottom {
    padding-bottom: 1.25rem;
  }
  .content-awu .footer .footer-top .footer-bottom .footer-social {
    gap: 1.25rem;
  }
  .content-awu .footer .footer-top .footer-bottom .footer-social img {
    width: 1.1rem;
  }
}
@media (max-width: 659px) {
  .content-awu .content-awu2 {
    margin: 3.5rem 1.25rem 1.5rem 1.25rem;
    flex-direction: column;
  }
  .content-awu .content-awu2 p {
    margin-left: 0;
    width: 100%;
  }
  .content-awu .ads-carousel {
    margin: 0 auto;
    width: 50%;
  }
  .content-awu .ads-carousel .box img {
    width: 65%;
    border-radius: 1rem;
  }
  .content-awu .ads-carousel .carousel-button {
    top: 37.5%;
  }
  .content-awu .content-awu3 {
    margin-top: 3rem;
  }
  .content-awu .content-awu3 .header {
    margin: 1.25rem;
  }
  .content-awu .content-awu3 .grid {
    margin: 1.25rem;
    grid-template-columns: repeat(1, 1fr);
  }
  .content-awu .content-awu4 {
    margin: 3rem 1.25rem 0 1.25rem;
  }
  .content-awu .content-awu4 .header {
    margin-bottom: 1.5rem;
  }
  .content-awu .content-awu4 .grid {
    margin: 0rem;
    grid-template-columns: repeat(1, 1fr);
  }
  .content-awu .content-awu5 {
    margin: 3rem 1.25rem 0 1.25rem;
  }
  .content-awu .content-awu5 .header {
    margin-bottom: 1.5rem;
  }
  .content-awu .content-awu5 .grid {
    margin: 0rem;
    grid-template-columns: repeat(1, 1fr);
  }
  .content-awu .content-awu6 {
    margin: 4rem 1.25rem 0 1.25rem;
  }
  .content-awu .content-awu6 .header {
    margin-bottom: 1.5rem;
  }
  .content-awu .content-awu6 .grid {
    margin: 0rem;
    grid-template-columns: repeat(1, 1fr);
  }
  .content-awu .footer {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  .content-awu .footer .footer-top {
    flex-direction: column-reverse;
    align-items: left;
  }
  .content-awu .footer .footer-top .footer-signup {
    padding-top: 1rem;
  }
  .content-awu .footer .footer-top .footer-signup p {
    font-size: 1.6rem;
    padding-bottom: 0.25rem;
  }
  .content-awu .footer .footer-top .footer-signup form .input-wrapper {
    width: 19rem;
  }
  .content-awu .footer .footer-top .footer-links {
    flex-direction: column;
    padding-top: 0.75rem;
  }
  .content-awu .footer .footer-top .footer-links .column {
    margin: 0;
    padding: 0;
  }
  .content-awu .footer .footer-top .footer-links .column:nth-child(2) {
    padding-top: 0.75rem;
  }
  .content-awu .footer .footer-top .footer-bottom {
    padding-bottom: 1.25rem;
  }
  .content-awu .footer .footer-top .footer-bottom .footer-social {
    gap: 1.25rem;
  }
  .content-awu .footer .footer-top .footer-bottom .footer-social img {
    width: 1.1rem;
  }
}

/*# sourceMappingURL=advertise-with-us.css.map */
