.container{
    height: 87.5vh;
    display:flex;
    justify-content: center;
    flex-direction: column;
    .inner-container{
        display: flex;
        flex-direction: column;
        img{
            max-width: 17.5rem;
        }
    }
}