.container {
  display: flex;
  flex-direction: column;
}
.container img {
  background: none;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  width: 2.25rem;
}
.container .vid {
  width: 28.25rem;
  margin-top: 2.75rem;
  margin-bottom: 4rem;
  border-radius: 1rem;
}
.container .inner-content {
  display: flex;
  flex-direction: column;
}
.container .inner-content .text p:nth-child(1) {
  font-family: medium;
  font-weight: bold;
  font-size: 3.5rem;
  width: 55%;
}
.container .inner-content .text p:nth-child(3) {
  font-size: 1.05rem;
  padding: 2rem 0;
}
.container .inner-content .text p:nth-child(2) {
  padding-top: 0.1rem;
  font-size: 0.835rem;
}
.container .inner-content .text p {
  max-width: 54%;
  text-align: left;
}
.container .inner-content input {
  width: 28.25rem;
  padding: 0.85rem 0.75rem;
  font-family: arial;
  color: #000;
  border: 2px solid #fafafa;
  border-radius: 0.2rem;
  font-size: 1.1rem;
}
.container .inner-content input:focus {
  outline: none;
  box-shadow: 0 0 1px 1px #fafafa;
  border-color: #fafafa;
  caret-color: #ccc;
}
.container .inner-content .email {
  margin-top: 0.35rem;
  padding-left: 0.6rem;
}
.container .inner-content .submit {
  padding: 0.75rem 0.75rem;
  margin-top: 0.5rem;
  margin-bottom: 0.65rem;
  background-color: #fafafa;
  color: #000;
}
.container .inner-content .submit:hover {
  opacity: 0.85;
  cursor: pointer;
}

@media screen and (min-width: 800px) and (max-width: 900px) {
  .container .inner-content .text p:nth-child(1) {
    width: 65%;
  }
  .container .inner-content .text p:nth-child(2),
  .container .inner-content .text p:nth-child(3) {
    max-width: 54%;
  }
}
@media screen and (min-width: 740px) and (max-width: 799px) {
  .container .vid {
    width: 25.25rem;
  }
  .container .inner-content .text p:nth-child(1) {
    width: 100%;
    font-size: 3.25rem;
  }
  .container .inner-content .text p:nth-child(2),
  .container .inner-content .text p:nth-child(3) {
    max-width: 54%;
    font-size: 1rem;
  }
  .container .inner-content .text p:nth-child(2) {
    font-size: 0.75rem;
  }
  .container .inner-content input {
    width: 25.25rem;
  }
}
@media screen and (min-width: 685px) and (max-width: 739px) {
  .container .vid {
    width: 23.5rem;
  }
  .container .inner-content .text p:nth-child(1) {
    width: 100%;
    font-size: 3rem;
  }
  .container .inner-content .text p:nth-child(2),
  .container .inner-content .text p:nth-child(3) {
    max-width: 54%;
    font-size: 0.9rem;
  }
  .container .inner-content .text p:nth-child(2) {
    font-size: 0.75rem;
  }
  .container .inner-content input {
    width: 23.5rem;
  }
}
@media screen and (min-width: 570px) and (max-width: 684px) {
  .container .vid {
    width: 20rem;
  }
  .container .inner-content .text p:nth-child(1) {
    width: 100%;
    font-size: 2.5rem;
  }
  .container .inner-content .text p:nth-child(2),
  .container .inner-content .text p:nth-child(3) {
    max-width: 54%;
    font-size: 0.8rem;
  }
  .container .inner-content .text p:nth-child(2) {
    font-size: 0.75rem;
  }
  .container .inner-content input {
    width: 20rem;
  }
}
@media screen and (min-width: 515px) and (max-width: 569px) {
  .container .vid {
    width: 18rem;
  }
  .container .inner-content .text p:nth-child(1) {
    width: 100%;
    font-size: 2.25rem;
  }
  .container .inner-content .text p:nth-child(2),
  .container .inner-content .text p:nth-child(3) {
    max-width: 54%;
    font-size: 0.75rem;
  }
  .container .inner-content .text p:nth-child(2) {
    font-size: 0.75rem;
  }
  .container .inner-content input {
    width: 18rem;
  }
}
@media screen and (max-width: 514px) {
  .container .vid {
    width: 16rem;
  }
  .container .inner-content .text p:nth-child(1) {
    width: 100%;
    font-size: 2rem;
  }
  .container .inner-content .text p:nth-child(2),
  .container .inner-content .text p:nth-child(3) {
    max-width: 54%;
    font-size: 0.65rem;
  }
  .container .inner-content .text p:nth-child(2) {
    font-size: 0.65rem;
  }
  .container .inner-content input {
    width: 16rem;
  }
}

/*# sourceMappingURL=index.css.map */
