.container {
  display: flex;
  flex-direction: column;
}
.container img {
  background: none;
  margin-top: 1.5rem;
  margin-bottom: 4rem;
  width: 2rem;
}
.container .line {
  width: 5%;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  border: 1px solid #fafafa;
}
.container h1 {
  font-family: medium;
  font-size: 1.75rem;
  padding: 1.5rem 0 0 0;
}
.container .inner-content {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.container .inner-content input {
  width: 25rem;
  padding: 0.85rem 0.75rem;
  font-family: arial;
  color: #000;
  border: 2px solid #fafafa;
  border-radius: 0.2rem;
  font-size: 1.1rem;
}
.container .inner-content input:focus {
  outline: none;
  box-shadow: 0 0 1px 1px #fafafa;
  border-color: #fafafa;
  caret-color: #ccc;
}
.container .inner-content .email {
  margin-top: 0.35rem;
  padding-left: 0.6rem;
}
.container .inner-content .submit {
  padding: 0.75rem 0.75rem;
  margin-top: 0.5rem;
  margin-bottom: 0.65rem;
  background-color: #fafafa;
  color: #000;
}
.container .inner-content .submit:hover {
  opacity: 0.85;
  cursor: pointer;
}

@media screen and (min-width: 773px) and (max-width: 830px) {
  .container .vid {
    width: 26.75rem;
  }
  .container .inner-content .text p:nth-child(1) {
    width: 100%;
    font-size: 3.25rem;
  }
  .container .inner-content .text p:nth-child(2),
  .container .inner-content .text p:nth-child(3) {
    font-size: 1rem;
  }
  .container .inner-content .text p:nth-child(2) {
    font-size: 0.85rem;
  }
  .container .inner-content input {
    width: 26.75rem;
  }
}
@media screen and (min-width: 715px) and (max-width: 772px) {
  .container .vid {
    width: 24.75rem;
  }
  .container .inner-content .text p:nth-child(1) {
    width: 100%;
    font-size: 3rem;
  }
  .container .inner-content .text p:nth-child(2),
  .container .inner-content .text p:nth-child(3) {
    font-size: 1rem;
  }
  .container .inner-content .text p:nth-child(2) {
    font-size: 0.85rem;
  }
  .container .inner-content input {
    width: 24.75rem;
  }
}
@media screen and (min-width: 603px) and (max-width: 714px) {
  .container .vid {
    margin-top: 1.75rem;
    width: 21rem;
  }
  .container .inner-content .text p:nth-child(1) {
    width: 100%;
    font-size: 2.5rem;
  }
  .container .inner-content .text p:nth-child(2),
  .container .inner-content .text p:nth-child(3) {
    font-size: 0.85rem;
    padding: 0.75rem 0 1.25rem 0;
  }
  .container .inner-content .text p:nth-child(3) {
    display: none;
  }
  .container .inner-content input {
    width: 21rem;
  }
}
@media screen and (min-width: 430px) and (max-width: 602px) {
  .container .vid {
    margin-top: 1.75rem;
    width: 19rem;
  }
  .container .inner-content .text p:nth-child(1) {
    width: 100%;
    font-size: 2.3rem;
  }
  .container .inner-content .text p:nth-child(2),
  .container .inner-content .text p:nth-child(3) {
    font-size: 0.85rem;
    padding: 0.75rem 0 1.25rem 0;
  }
  .container .inner-content .text p:nth-child(3) {
    display: none;
  }
  .container .inner-content input {
    width: 19rem;
  }
}
@media screen and (max-width: 429px) {
  .container img {
    width: 1.75rem;
  }
  .container .vid {
    margin-top: 1.75rem;
    width: 19rem;
  }
  .container .inner-content .text p:nth-child(1) {
    width: 100%;
    font-size: 1.5rem;
  }
  .container .inner-content .text p:nth-child(2),
  .container .inner-content .text p:nth-child(3) {
    font-size: 0.825rem;
    padding: 0.75rem 0 1.25rem 0;
  }
  .container .inner-content .text p:nth-child(3) {
    display: none;
  }
  .container .inner-content input {
    width: 19rem;
  }
}

/*# sourceMappingURL=index.css.map */
