.container {
  display: flex;
  flex-direction: column;
  b {
    font-family: 'bold';
  }
  .logo {
    display:flex;
    align-self: left;
    background: none;
    margin: 1.25rem 0 0 5rem;
    width: 2.5rem;
  }
  h1,
  h2,
  h3,
  span {
    text-align: left;
    font-family: ku;
    font-size: 4.5rem;
    line-height: normal;
  }
  h2 {
    font-size: 2.5rem;
    font-family: kl;
  }
  h3 {
    font-size: 2.75rem;
  }
  h4 {
    font-family: kl;
    font-size: 1.25rem;
    line-height: normal;
  }
  p {
    font-family: kl;
    font-size: 1.2rem;
    line-height: normal;
  }
  .content {
    display: flex;
    flex-direction: row;
    .inner-content {
      display: flex;
      flex-direction: column;
      margin-top: 6rem;
      padding-left:5rem;
      .text {
        h2,
        h2 span {
          width: 70%;
          margin-left:0;
          font-size:4rem;
        }
        h4{
          font-size:1.25rem;
        }
        p {
          width:50%;
          text-align: left;
          font-size: 1.25rem;
          padding: 1.5rem 0 .75rem 0;
          margin-left: 0;
        }
      }
      form {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        .h-captcha {
          margin: 0;
          padding-top: 0.25rem;
        }
        .input-wrapper {
          position: relative;
          width: 28.75rem;
        }
        input.email {
          width: 100%;
          padding: 0.85rem 6rem 0.85rem 0.75rem;
          font-family: Arial, sans-serif;
          color: #000;
          border: 0.15rem solid #02090a;
          border-radius: 0.2rem;
          font-size: 1.1rem;
          box-sizing: border-box;

          &:focus {
            outline: none;
            box-shadow: 0 0 1px 1px #02090a;
            border-color: #02090a;
            caret-color: #02090a;
          }
        }

        button.submit {
          position: absolute;
          top: 2px;
          right: 2px;
          bottom: 2px;
          padding: 0 2rem;
          background-color: #fafafa;
          color: black;
          border: none;
          border-left: 0.12rem solid #02090a;
          border-radius: 0 0.2rem 0.2rem 0;
          font-size: 1rem;

          &:hover {
            background-color: #f5f5f5;
            cursor: pointer;
          }
        }
      }
    }
  }
}
@media (max-width: 875px) {
  .container {
    .logo {
      margin-left: .5rem;
      width:2rem;
    }
    .content {
      margin-top: 0rem;
      margin-bottom:3rem;
      .inner-content {
      padding-left:.5rem;
      padding-right:5rem;
        .text {
          h4{
            font-size:.925rem;
          }
          h2, h2 span {
            padding-right:0;
            padding-top: 0.25rem;
            font-size: 2.5rem;
          }
          p {
            padding-top: 2.5rem;
            padding-bottom: 0.5rem;
            font-size:1rem;
            width:80%;
          }
        }
        form {
          .input-wrapper {
            width: 23rem;
          }
        }
      }
    }
  }
}
